<!DOCTYPE html>
<html>
  <head>
    <title>TaskTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Task Tracker</a>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if current_account.present? %>
                <li class="nav-item">
                  <a class="nav-link disabled"><%= "Hello, #{current_account.display_name}" %></a>
                </li>
                <li class="nav-item">
                  <%= link_to "Log Out", logout_path, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Log In", login_path, class: "nav-link" %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to "Tasks", tasks_path, class: "nav-link" %>
              </li>
              <% if current_account&.admin? %>
                <li class="nav-item">
                  <%= link_to "Popugs", accounts_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
